
    
    span{
        
       
       
        
    }
    
    #head{
        color:turquoise
    }
    
    .do{
        color: red;
    }
    u{
        text-decoration: underline;
        text-indent: 50px;
       }
       
       

